html(class=`h-full dark:bg-gray-900 dark:text-gray-300 antialiased`)
    head
        link(rel='stylesheet', href='/app.css')
        script(defer=true, src='/app.js')
    body.h-full
        div#app.h-full
