html(class=`h-full dark:bg-gray-900 dark:text-gray-300 antialiased`)
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title React UI Library
        link(rel='stylesheet', href='/app.css')
        script(defer=true, src='/app.js')
    body
        div#app.h-full
